body {
    min-height: 100%;
    height: 100%;
    color: #ffffff;
}
.clearfix::after {
    content:'';
    display: block;
    clear: both;
}
.wrapper {
    width: 400px;
    margin: 0 auto;
}
.header {
    height: 100px;
    background-color: #141f40;
}
.contents {
    height: 250px;
}
.left {
    float: left;
    width: 150px;
    height: 100%;
    background-color: #80bfa8;
}
.center-right {
    float: right;
}

.center-right-up {
    float: left;
}

.center-upper {
    width: 150px; 
    height: 50px;
    background-color: #dbd400;
}
.center-middle {
    width: 150px; 
    height: 100px;
    background-color: #0093b7;
}
.center-lower {
    width: 250px; 
    height: 100px;
    background-color: #8c2727;
}
.right {
    float: right;
    width: 100px; 
    height: 150px;
    background-color: #ff9e6b;
}
.footer {
    height: 100px;
    background-color: #d98d30;
}